<section class="page-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

        <p id="notice"><%= notice %></p>

        <p>
          <!-- <%# button_to 'order', new_event_ticket_order_path(@ticket.last.id) %> -->
        </p>
        <h1>
          <%= @event.title%>
        </h1>

        <p>
          <strong>Description:</strong>
          <%= @event.description %>
        </p>

        <p>
          <strong>Event tickets:</strong>
          <%= @event.event_tickets %>
        </p>

        <p>
          <strong>User:</strong>
          <%= @event.user %>
        </p>
        <p>
          <strong>start:</strong>
          <%= @event.begin %>
        </p>
        <p>
          <strong>End:</strong>
          <%= @event.end %>;

        </p>

        <%= link_to 'Edit', edit_event_path(@event) %>
        |
        <%= link_to 'Back', events_path %>
      </div>
    </div>
  </div>

</section>
