<p id="notice"><%= notice %></p>

<h1>Tickets</h1>
<div class="container p-5">
  <%= render "shared/accordian"%>
</div>

<div class="container">
  <div class="table-responsive">

    <table class="table table-condensed" style="border-collapse:collapse;">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Sku</th>
          <th scope="col">Event</th>
        </tr>
      </thead>
      <tbody>
        <% @tickets.each do |ticket| %>
        <tr class="hiddenRow">
          <th scope="row" onclick="clickme"><%= ticket.event_id%></th>
          </tr>
          <tr><td id="hidden" class="hidden"><p><%= ticket.id %></p></td><td id="hidden" class="hidden"><p><%= ticket.event_id %></p></td><td id="hidden" class="hidden"><p><%= ticket.price %></p></td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%#= link_to 'New Ticket', new_ticket_path %>

  <%#= link_to 'Edit', edit_ticket_path(ticket) %>
    <%#= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %>
<%console%>
