<p id="notice"><%= notice %></p>

<h1>Tickets</h1>
<div class="container p-5">
  <%= render "shared/accordian"%>
</div>

<div class="container">
  <div class="table-responsive">
    <table class="table">
      <% @tickets.each do |ticket| %>
        <table>
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Sku</th>
              <th scope="col">Event</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row"><%= ticket.event %>  </th>
                <td><%= ticket.event %></td>
                <td><%= ticket.sku %></td>
                <td><%= ticket.id %></td>

            </tr>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
  <br>

  <%#= link_to 'New Ticket', new_ticket_path %>

    <%#= link_to 'Edit', edit_ticket_path(ticket) %>
      <%#= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %>
